name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./app
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/k8s-devops-project:latest
            ${{ secrets.DOCKER_USERNAME }}/k8s-devops-project:${{ github.sha }}
 
      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/k8s-devops-project:${{ github.sha }}|' k8s/deployment.yaml

          cat k8s/deployment.yaml
  
      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git add k8s/deployment.yaml

          git commit -m "Update deployment image to version ${{ github.sha }}" || echo "No changes to commit"

          git push
